# Ignorar arquivos e pastas específicas do Eclipse
.metadata/
.classpath
.project
.settings/
bin/
tmp/

# Ignorar arquivos temporários e backups
*.log
*.snap
*.bak
*.swp
*.tmp
*.syncinfo
*.markers
*.index
*.xmi
*.prefs
*.png
*.xml.zip

# Ignorar arquivos específicos do Maven e Gradle
target/
*.jar
*.war
*.ear

# Ignorar arquivos de compilação
*.class
out/

# Ignorar configurações locais e ferramentas
local.properties
.externalToolBuilders/
*.launch

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
